*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #ffd5fb;
}

.container {
  display: flex;
  justify-content: center;
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

}
.title{
  font-size: 45px;
  color: rgb(254, 254, 254);
}

.search {
  margin-top: 30px;
  width: 100%;
  padding: 20px 30px;
  background-color: transparent;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  background-color: transparent;
  margin-left: 0px;
  border: none;
  box-shadow: inset 0px 0px 0px 4px #ddd6e8;
  background-color: #ddd6e891;
}

.form{
  display: flex;
  justify-content: center;
}
button {
  color: white;
  border-color: transparent;
  padding:1rem 2rem;
  height: 50px;
  margin-top: 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgba(98, 202, 146, 0.904);
  }
.loupe{
  padding: 10px 20px;
  background-color: transparent;
  line-height: 18px;
  border: none;
  background-color: #ddd6e891;
  box-shadow: inset 0px 0px 0px 4px #ddd6e8;
}
ul{
  font-size: 16px;
  letter-spacing: 3px;
  width: 290px;
  list-style: none;
  font-weight: 600;
}

li{
  /* background-color: #c4a3bce9; */
  background-color: #d6e1e8cd; 
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}
.cal{
  font-size: 14px;
  background-color: rgba(98, 202, 146, 0.904);
  color: white;
  padding: 10px 14px;
  margin: 7px;
  border-radius: 10px;
}

.containerTwo{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  column-gap:-20px;
  text-align: center;
  min-height: 100vh;
  margin-top: 100px; 
  width: 100%;

}
img{
  border-radius: 5px;
  
}
h1{
  font-family: 'Sail', cursive;
}
.label{
  text-shadow: -3px -3px 10px rgba(255, 255, 255, 0.979), 2px 3px 15px rgba(255, 255, 255, 0.947);
  color: rgb(31, 31, 31);
  padding:10px 10px ;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 20px;
  width: 250px;
}
.calories{
  font-family: 'Sail', cursive;
  font-size: 20px;
  letter-spacing: 2px;
}


@media all and(max-width:950){
  .containerTwo{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
}
@media all and(max-width:900){
    .containerTwo{
      display: grid;
      grid-template-columns: repeat(1,1fr);
    }
  
}
@media all and (max-width:850px){
  .containerTwo{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
}
@media all and (max-width:500px){
  .containerTwo{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  
}}

@media all and (max-width:414px){
  .containerTwo{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
}